.user-bar-components {
  display: flex;
  align-items: center;

  >* {
    margin-right: 20px;
  }

  .user-bar-avatar {
    width: 36px;
    height: 36px;
  }

  .user-bar-badge {
  }

  .user-bar-logout {
    color: white;
    margin-right: -10px;
  }
}