.login-page {
  height: 100%;
  width: 100%;

  .login-page-card {
    border: 1px solid black;
    position: absolute;
    top:50%;
    left:50%;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    transform: translateY(-50%) translateX(-50%);

    #login-username {
      margin: 0 0 0 10px
    }
    #login-password {

    }
  }
}