.article-card {
  padding: 30px;
  display: flex;

  .article-card-left {
    width: 50px;

    .article-card-avatar {
      margin: 0 auto;
    }
  }

  .article-card-right {
    flex-grow: 1;
    padding: 5px;
    width: 600px;
  }

  .article-card-content {
    margin: 10px 5px;
    min-height: 100px;
    max-height: 400px;
    overflow: hidden;

    > * {
      line-break: anywhere;
    }
  }
}
